stages:
    - build
    - deploy

image: docker:latest
services:
    - docker:dind

variables:
    TAG: $CI_COMMIT_SHORT_SHA

workflow:
    rules:
        - if: $CI_COMMIT_BRANCH == "main"

build_all_job:
    stage: build
    before_script:
        - apk add --no-cache make
        - echo "$DOCKER_HUB_PASS" | docker login -u "$DOCKER_HUB_USER" --password-stdin
    script:
        - make prep-all TAG=$TAG


deploy_job:
    stage: deploy
    before_script:
        - apk add --no-cache make openssh-client

        - eval $(ssh-agent -s)
        - echo "$SSH_PRIV_KEY" | ssh-add -

        - mkdir -p ~/.ssh
        - chmod 700 ~/.ssh

        - ssh-keyscan "$DROPLET_IP" >> ~/.ssh/known_hosts
    script:
        - ssh "root@$DROPLET_IP" "echo '$DOCKER_HUB_PASS' | docker login -u '$DOCKER_HUB_USER' --password-stdin"

        - cp "$DOT_ENV_FILE" .env.prod
        - cp "$BACKUP_ENV_FILE" backup.env

        - export DOCKER_HOST="ssh://root@$DROPLET_IP"
        - make compose-prod TAG=$TAG
        - docker system prune -a -f