networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"      # For HTTP traffic
    volumes:
      # This maps a specific file or directory from your host (./nginx.conf) into the container at /etc/nginx/nginx.conf.
      - './nginx.conf:/etc/nginx/nginx.conf'
      - media_data:/app/media
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    image: avtopetrovich/tb-backend:1.0
    container_name: tb-backend
    restart: always
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media_data:/app/media
    networks:
      - dev

  frontend:
    image: avtopetrovich/tb-frontend:1.0
    container_name: tb-frontend
    restart: always
    env_file:
      - .env.prod
    depends_on:
      - backend
    networks:
      - dev

  db:
    image: postgres:17.0
    container_name: tb-postgres-db
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      # Named volume. Means: "Plug postgres_data volume to /var/lib/postgresql/data inside container"
      - postgres_data:/var/lib/postgresql/data
    labels:
      - docker-volume-backup.stop-during-backup=true
    networks:
      - dev

  backup:
    image: offen/docker-volume-backup:v2.43.4
    container_name: tb-backup
    restart: always # Restart the container automatically if it exits, crashes, or Docker restarts (like on server reboot).
    env_file:
      - ./backup.env
    volumes:
      # Volume with no name. "Take folder /backup-configuration from host and plug to /etc/dockervolumebackup/conf.d"
      - ./backup-configuration:/etc/dockervolumebackup/conf.d
      # Giving this container permissions to pause containers, get list of containers and their statuses and execute docker commands from within containers
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - postgres_data:/backup/postgres-data-backup:ro
      - media_data:/backup/media-data-backup:ro



# Still will be created by docker, but better to be declared here. Volumes are created by docker in /var/lib/docker/volumes
volumes:
  postgres_data:
  media_data:
