networks:
  dev:

# Replace all dockerfiles with images before prod
services:
  nginx:
    image: avtopetrovich/tb-nginx:1.0
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    image: avtopetrovich/tb-backend:1.0
    container_name: tb-backend
    restart: always
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media_data:/app/media
    networks:
      - dev

  frontend:
    image: avtopetrovich/tb-frontend:1.0
    container_name: tb-frontend
    restart: always
    env_file:
      - .env.prod
    depends_on:
      - backend
    networks:
      - dev

  db:
    image: postgres:15.4
    container_name: tb-postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      # Named volume. Path inside the container where the volume is mounted.
      - postgres_data:/var/lib/postgresql/data
    labels:
      - "docker-volume-backup.archive-pre=/bin/sh -c ..... > /"
    networks:
      - dev

  backup:
    image: offen/docker-volume-backup:v2.43.4
    container_name: tb-backup
    restart: always # Restart the container automatically if it exits, crashes, or Docker restarts (like on server reboot).
    env_file:
      - ./backup.env
    volumes:
      - ./backup-configuration:/etc/dockervolumebackup/conf.d
      # Stops container during backup
      # - /var/run/docker.sock:/var/run/docker.sock:ro
      - postgres_data:/backup/postgres-data-backup:ro
      - media_data:/backup/media-data-backup:ro



# Still will be created by docker, but better to be declared here
volumes:
  postgres_data:
  media_data:
