networks:
  dev:

# Replace all dockerfiles with images before prod
services:
  nginx:
    image: avtopetrovich/tb-nginx:1.0
    container_name: nginx-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    image: avtopetrovich/tb-backend:1.0
    container_name: tb-backend
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media_data:/app/media
    networks:
      - dev

  frontend:
    image: avtopetrovich/tb-frontend:1.0
    container_name: tb-frontend
    env_file:
      - .env.prod
    depends_on:
      - backend
    networks:
      - dev

  db:
    image: postgres
    container_name: tb-postgres-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      # Named volume. Path inside the container where the volume is mounted.
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dev

# Still will be created by docker, but better to be declared here
volumes:
  postgres_data:
