#services:
#  backend:
#    build:
#      context: .
#      dockerfile: trading_buddy_backend/Dockerfile
#    container_name: tb-backend
#    ports:
#      - "${BACKEND_PORT}:${BACKEND_PORT}"
#    env_file:
#      - .env
#    depends_on:
#      db:
#        condition: service_healthy
#
#  frontend:
#    build:
#      context: trading_buddy_fe/
#      dockerfile: Dockerfile
#    container_name: tb-frontend
#    ports:
#      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
#    env_file:
#      - .env
#
#  db:
#    image: postgres
#    container_name: tb-postgres-db
#    environment:
#      POSTGRES_DB: ${DB_NAME}
#      POSTGRES_USER: ${DB_USER}
#      POSTGRES_PASSWORD: ${DB_PASSWORD}
#    healthcheck:
#      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "avtorpetrovich"]
#      interval: 5s
#      timeout: 5s
#      retries: 5
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#
#volumes:
#  postgres_data:



networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"      # For HTTP traffic
    volumes:
      # This volume mounts a directory for custom NGINX configs
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: .
      dockerfile: trading_buddy_backend/Dockerfile
    container_name: tb-backend
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
    networks:
      - dev

  frontend:
    build:
      context: trading_buddy_fe/
      dockerfile: Dockerfile
    container_name: tb-frontend
    depends_on:
      - backend
    networks:
      - dev

  db:
    image: postgres
    container_name: tb-postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dev

# Still will be created by docker, but better to be declared here
volumes:
  postgres_data:
