@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/*global styling for app*/
html {
    overflow-y: scroll; /* Always show vertical scrollbar */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    overflow-x: hidden; /* Prevent horizontal scrolling on body */
    max-width: 100vw; /* Ensure body doesn't exceed viewport width */
}
